*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
static/images/reference_dashboard.png filter=lfs diff=lfs merge=lfs -text
static/img/examples/eriophyes.jpg filter=lfs diff=lfs merge=lfs -text
static/img/examples/healthy.jpg filter=lfs diff=lfs merge=lfs -text
static/img/examples/macrophomina.jpg filter=lfs diff=lfs merge=lfs -text
static/img/examples/stephanitis.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612222048_76713cb2acf84b8d8f14afb945c54b4c.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612222517_005b7794f4294449b6bb6ce4084c2f62.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612222630_d87552c192ef424ca0dd1592411fcf3b.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612223412_b9ed0329a38f482fb84c3b1e08fed567.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612224057_7451b2fc5fac4e749e33c8e260155e79.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612224805_5976ec166b5c44e79c07ee83b2ed5532.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612224814_3e51e99e7a224f7aa659cfe51e512775.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612225949_8149299bd0b34a94816f7af986599861.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260612230038_edad4952ce5c47cf99c5992dfe5523a0.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613101403_85307657c86341cb9daa763c5a14d1f2.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613101414_564b96aeb4804615b60d0386d0225675.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613101420_5c9d992e54f64b8196be6a90e5a2eb98.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613101438_d7f78ac3b3244cb1a77ab89baa81cbd5.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613101449_3cd7923eb0a84679810f608f3cd7ad25.jpg filter=lfs diff=lfs merge=lfs -text
static/uploads/20260613121555_e00a32c6e7d84226bef30dd8cc1b82d5.jpg filter=lfs diff=lfs merge=lfs -text
